body {
    font-family: Arial
}

/* Questions styling */
#display-box {
    display:flex;
    flex-flow: row wrap;
    justify-content: center
}
.question-container {
    position: relative;
    border: thin solid black;
    margin: 25px;
    border-radius: 10%
}
.question-container.answer {
    border: 5px solid green;
    margin: 21px
}
.refresh {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer
}

.answer-toggle {
    font-size: small;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer
}

/* Options styling */

header>div {
    width: 60%;
    margin: auto
}

#showoptions {
    font-size: small;
}

.options-row {
    display: flex;
}

.options-part {
    flex: 1;
    vertical-align: top;
    text-align: left;
    margin: 5px;
    border: thin solid black;
    border-radius: 10px;
    padding: 5px
}

.options-part h2 {
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0.5em
}

#action-buttons {
    text-align: center
}

label {
    white-space: nowrap
}

.hidden {
    display: none !important
}

@media only print {
    #showoptions {display: none !important}
    #options {display: none !important}
    .refresh {display: none !important}
    .question-container {border: none;}
    .answer-toggle {display: none !important}
    #action-buttons {display: none !important}
}
