body {
    font-family: Arial
}

/* {{{ Questions styling */
#display-box {
    display:flex;
    flex-flow: row wrap;
    justify-content: center
}
.question-container {
    position: relative;
    border: thin solid black;
    margin: 15px;
    border-radius: 10%
}
.question-container.answer {
    border: 5px solid green;
    margin: 11px
}
.refresh {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer
}

.answer-toggle {
    font-size: small;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer
}
/*}}}*/

/* Options styling {{{*/
header {
    width: 60%;
    margin: auto
}

#showoptions {
    font-size: small;
}

.options-row {
    display: flex;
}

.options-part {
    flex: 1;
    vertical-align: top;
    text-align: left;
    margin: 5px;
    border: thin solid black;
    border-radius: 10px;
    padding: 5px
}

.options-part h2 {
    display: inline-block;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-right: 1em
}

.options-part a {
    float: right
}

.options-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-list li {
    padding-top: 0.5em
}

.options-list ul {
    list-style: none;
    padding-left: 1em;
}

.options-list ul li {
    padding-top: 0.1em
}

#action-buttons {
    text-align: center
}

label {
    white-space: nowrap
}

.options-modal{
    float: right;
}

input[type="number"]{
    width: 3em;
    text-align: center
}

/*}}}*/

/* Zoom buttons {{{*/
#zoom {
    position: absolute;
    top: 1em;
    right: 2em;
}

#zoom span {
    font-size: large;
    cursor: pointer
}
/*}}}*/

/* Modal dialog {{{*/
#modal-overlay {
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex
}

#modal-overlay div.modal {
    display: block;
}

.modal {
    margin: auto;
    background: rgba(255,255,255,1);
    border: black solid thick;
    padding: 15px;
    display: none;
}
/*}}}*/

.hidden {
    display: none !important
}

/*Printing{{{*/
@media only print {
    #showoptions {display: none !important}
    #options {display: none !important}
    .refresh {display: none !important}
    .question-container {border: none; margin: 0.2em}
    .answer-toggle {display: none !important}
    #action-buttons {display: none !important}
    #zoom {display: none !important}
}
/*}}}*/

/*Mobile styling {{{*/
@media only screen and (max-width: 750px) {
    body {
        font-size: 0.8em
    }
    header {
        width: 100%
    }
    #zoom {
        top: 0.4em;
        right: 0.4em
    }
    .question-container {
        margin: 5px;
    }
    .question-container.answer {
        margin: 1px;
    }
    #display-box {
        margin-top: 25px
    }
}
/*}}}*/
