html, body {
    font-family: Arial;
    height: 100%;
    margin: 0;
    background-color: black;
    color: white
}

#display-box {
    display:block;
}

#display-canvas {
  display:block;
  position: absolute;
  top: 0px;
}

#counter {
  position:absolute;
  bottom: 10px;
  left: 10px;
}

/*}}}*/

/* Options styling {{{*/
header {
    width: 100%;
    font-size: small;
}

form {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: small;
}

fieldset {
  border-radius: 10px;
  margin-left:10px;
  margin-top:10px;
  width: auto;
  display:block;
}

label {
  display:block;
  margin-bottom: 0.4em;
  margin-top: 0.4em
}

input, select {
}

#action-buttons {
    text-align: center
}

input[type="number"]{
    width: 2em;
    text-align: center
}

div.group>label {
  display:inline-block
}

input[type="color"]{
  width:2em
}

range.fakedisabled {
  

/*}}}*/

.hidden {
    display: none !important
}

/*Printing{{{*/
@media only print {
    #showoptions {display: none !important}
    #options {display: none !important}
    .refresh {display: none !important}
    .question-container {border: none; margin: 0.2em}
    .answer-toggle {display: none !important}
    #action-buttons {display: none !important}
    #zoom {display: none !important}
}
/*}}}*/

/*Mobile styling {{{*/
@media only screen and (max-width: 750px) {
    body {
        font-size: 0.8em
    }
    header {
        width: 100%
    }
    #zoom {
        top: 0.4em;
        right: 0.4em
    }
    .question-container {
        margin: 5px;
    }
    .question-container.answer {
        margin: 1px;
    }
    #display-box {
        margin-top: 25px
    }
}
/*}}}*/
